article {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 6px 6px 6px 6px;
  min-height: 100%;
  align-items: stretch;
  box-sizing: border-box;
}

#main-edit-area {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
}

#main-edit-area quill-buffer {
  flex-grow: 1;
  padding-left: 24px;
}

quill-status-bar {
  flex-shrink: 0;
  padding-top: 6px;
  color: var(--secondary-color);
}
