#action-bar {
  display: flex;
}

#action-label {
  flex-shrink: 0;
}

#action-input {
  flex-shrink: 0;
  flex-grow: 1;
  width: 90%;
  background-color: var(--main-bg-color);
  color: var(--main-color);
  border: none;
  border-bottom: 1px dotted var(--main-color);
  outline: none;
}

#action-bar.hidden {
  display: none;
}
