:root {
  --main-bg-color: hsl(210, 28%, 20%);
  --main-color: hsl(210, 28%, 90%);
  --secondary-color: hsl(210, 28%, 75%);

  --error-bg-color: hsl(00, 90%, 28%);
  --error-color: hsl(00, 90%, 90%);

  --scrollbar-bg-color: hsl(210, 28%, 35%);
  --scrollbar-color: hsl(210, 28%, 35%);
  --scrollbar-width: 10px;
  --scrollbar-border-radius: 5px;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-color);
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}
